/* css geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
  position: relative;
  align-items: center; /* Centralizar verticalmente */
  justify-content: center;
  gap: 60px;

}

.interface .btn-curriculo button {
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 600;
  background-color: blue;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover,
.enviar:hover  {
  box-shadow: 0px 0px 8px rebeccapurple;
  transform: scale(1.05);
}

/* css header */
header {
  padding: 10px 4%;
}
header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 120%;
}

.logo {
  max-width: 150px; /* ou qualquer valor desejado */
  width: auto;
}

.menu-desktop {
  margin-right: 20px;
}
.menu-desktop ul {
  display: flex;
  list-style-type: none;
}

.sobre-l {
  padding: 0 40px;
  display: inline-block;
  font-size: 20px;
}

.nav {
  color: aqua;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
.nav:hover {
  color: wheat;
  transform: scale(1.05);
}
/* fim header */

/* main */
section.topo-site {
  padding: 40px 4%;
}
section .topo-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-site h1 {
  color: antiquewhite;
  font-size: 42px;
  line-height: 40px;
}

.topo-site .txt-topo-site p {
  color: brown;
  margin: 20px 0px;
  font-size: 20px;
}

.topo-site .img-topo-site {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* sobre */

section.sobre {
  padding: 80px 4%;
}
section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: aquamarine;
}
.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.txt-sobre h2 span {
  color: black;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
  font-size: 20px;
}

.btn-social{
  display: flex;
    justify-content: center;
    align-items: center;
}
.sobre .txt-sobre .btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  font-size: 22px;
  background-color: blue;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

.img-topo-site img {
  width: 320px;
  height: 320px;
  border-radius: 100%;
}

/* projeto */

section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #a9a7a5;}

section.portfolio .flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-top:60px ;
}


.img-port {
  max-width: 100%;
  height: 200px;
  background-size: cover;
  transition: 5s;
  cursor: pointer;
  border-radius: 10px;
  transition: 100% 0%;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   font-weight: 600;
   color: #fff;
   opacity:0 ;
   transition: .5s;
}

.overlay:hover{
  opacity: 1;
}

.portfolio .interface .titulo{
  display: flex;
  align-items: center;
    justify-content: center;
}

/* Formulario */
section.formulario{
  padding: 80px 4%;
}

form{
max-width: 500px;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
gap: 10px;
}

form input, form textarea{
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px ;
  border-radius: 15px;
  color: aquamarine;
  font-size: 18px;
}

form textarea{
  resize: none;
  max-height: 200px;
}

form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input[type=submit]{
  width: 120px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}
.sobre-mim{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;

} 
/* SKILLS */
.skills {
  width: 50%;
  margin: 30px auto 0;
  
}

.skills-lista {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  background-color: #fbfafa;
  border: 0.5px solid #ececec;
  grid-gap: 20px;
  justify-items: center;
  padding: 20px;
}

.skills-lista li {
  font-size: 20px;
}